---
import { getCollection } from 'astro:content';
import Layout from '@/layouts/Layout.astro';
import Container from '@/components/Container.astro';

export async function getStaticPaths() {
  const posts = await getCollection('blog');
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await post.render();

const formattedDate = new Date(post.data.publishedAt).toLocaleDateString(
  'en-US',
  {
    year: 'numeric',
    month: 'long',
    day: 'numeric',
  },
);
---

<Layout title={post.data.title} description={post.data.summary}>
  <Container>
    <article
      class="flex flex-col justify-center items-start max-w-2xl mx-auto mb-16 w-full"
    >
      <h1
        class="font-bold text-3xl md:text-5xl tracking-tight mb-4 text-black dark:text-white"
      >
        {post.data.title}
      </h1>
      <div
        class="flex flex-col md:flex-row justify-between items-start md:items-center w-full mt-2 mb-8"
      >
        <div class="flex items-center">
          <p class="text-sm text-gray-700 dark:text-gray-300">
            {formattedDate}
          </p>
        </div>
      </div>
      <div class="prose dark:prose-dark max-w-none w-full">
        <Content />
      </div>
    </article>
  </Container>
</Layout>
