@keyframes gradient-rotate {
  0%,
  100% {
    transform: rotate(0deg);
    background-position: 0% 50%;
  }
  50% {
    transform: rotate(180deg);
    background-position: 100% 50%;
  }
}

.gradientRotate {
  animation: gradient-rotate 12s cubic-bezier(0.4, 0, 0.2, 1) infinite;
  background: linear-gradient(
    90deg,
    rgba(59, 130, 246, 0.7),
    rgba(147, 51, 234, 0.7),
    rgba(236, 72, 153, 0.7)
  );
  background-size: 200% 200%;
  filter: blur(8px);
}
