---
import Layout from '@/layouts/Layout.astro';
import Container from '@/components/Container.astro';
---

<Layout title="Privacy Policy - Nicolas Charpentier">
  <Container>
    <div
      class="flex flex-col justify-center items-start max-w-2xl mx-auto mb-16"
    >
      <h1
        class="font-bold text-3xl md:text-5xl tracking-tight mb-4 text-black dark:text-white"
      >
        Privacy Policy
      </h1>
      <div class="prose dark:prose-dark">
        <p>
          Your privacy is important to me. It is my policy to respect your
          privacy regarding any information I may collect from you across my
          website.
        </p>
        <p>
          I only ask for personal information when I truly need it to provide a
          service to you. I collect it by fair and lawful means, with your
          knowledge and consent. I also let you know why I'm collecting it and
          how it will be used.
        </p>
        <p>
          I only retain collected information for as long as necessary to
          provide you with your requested service. What data I store, I'll
          protect within commercially acceptable means to prevent loss and
          theft, as well as unauthorized access, disclosure, copying, use or
          modification.
        </p>
        <p>
          I don't share any personally identifying information publicly or with
          third-parties, except when required to by law.
        </p>
        <p>
          My website may link to external sites that are not operated by me.
          Please be aware that I have no control over the content and practices
          of these sites, and cannot accept responsibility or liability for
          their respective privacy policies.
        </p>
        <p>
          You are free to refuse my request for your personal information, with
          the understanding that I may be unable to provide you with some of
          your desired services.
        </p>
        <p>
          Your continued use of my website will be regarded as acceptance of my
          practices around privacy and personal information. If you have any
          questions about how I handle user data and personal information, feel
          free to contact me.
        </p>
        <p>This policy is effective as of 1 January 2021.</p>
      </div>
    </div>
  </Container>
</Layout>
